//VARIABLES
$primary-blue: #4463F7;
$app-bg-color: #F7F6F9;
$primary-black: #656A7E;
$primary-white: #fff;

//EXTENDED
%body_left_100 {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 1.0;
  text-align: left;
}

%small_left {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  opacity: 1.0;
  text-align: left;
}

%button_left_100 {
  color: $primary-blue;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}

//CUSTOM FONT
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Book.otf');
    font-weight: 300;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Bold.otf');
    font-weight: 700;
}


//BORDER BOX
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//OVERALL SETTING
body {
    font: 100% "CircularStd";
    font-weight: 300;
    color: $primary-black;
}

.padded {
  padding: 0 16px;
}

#introPage {
  background: linear-gradient(to bottom, #4463F7 100%, #3655EE 100%);
  color: $primary-white;
  width: 100vw;
  height: 100vh;
}

#logo {
  font-weight: 700;
  font-size: 28px;
  padding: 24px 0 16px 0;
}

#introNav {
  p {
    display: inline-block;
    @extend %body_left_100;
    margin-right: 40px;
    line-height: 60px;
  }
}

input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .54);
  color: $primary-white;
  @extend %body_left_100;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  color: $primary-white;
  opacity: 0.54;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
  color: $primary-white;
  opacity: 0.54;
}

.signupSignin {
  @extend %button_left_100;
  width: 100%;
  line-height: 48px;
  text-align: center;
  background-color: $primary-white;
  border-radius: 2px;
  margin-top: 32px;
  border: none;
}
