//VARIABLES
$primary-blue: #4463F7;
$app-bg-color: #F7F6F9;
$primary-black: #656A7E;
$primary-white: #fff;
//EXTENDED
%body_left_100 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    opacity: 1.0;
    text-align: left;
}

%small_left {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    opacity: 1.0;
    text-align: left;
}

%button_left_100 {
    color: $primary-blue;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
}

%UI_Left_100 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

//CUSTOM FONT
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Book.otf');
    font-weight: 300;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Bold.otf');
    font-weight: 700;
}
//BORDER BOX
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//OVERALL SETTING
body {
    font: 100% "CircularStd";
    font-weight: 300;
    color: $primary-black;
}

.padded {
    padding: 0 16px;
}

#introPage {
    background: linear-gradient(to bottom, #4463F7 100%, #3655EE 100%);
    color: $primary-white;
    width: 100vw;
    height: 100vh;
    #logo {
        font-weight: 700;
        font-size: 28px;
        padding: 24px 0 16px;
    }
}

#introNav {
    p {
        display: inline-block;
        @extend %body_left_100;
        margin-right: 40px;
        line-height: 60px;
    }
}

input {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .54);
    color: $primary-white;
    @extend %body_left_100;
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    color: $primary-white;
    opacity: 0.54;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    color: $primary-white;
    opacity: 0.54;
}

.signupSignin {
    @extend %button_left_100;
    width: 100%;
    line-height: 48px;
    text-align: center;
    background-color: $primary-white;
    border-radius: 2px;
    margin-top: 32px;
    border: none;
}

#profileColor {
    @extend %small_left;
    width: 24px;
    height: 24px;
    border: 1px solid $primary-white;
    border-radius: 100%;
    white-space: nowrap;
    line-height: 24px;
    margin: 16px 0;

    p {
      margin-left: 32px;
    }
}

#landingPage {
  background-color: #F7F6F9;
  height: 100vh;
  header {
    background-color: $primary-blue;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    color: $primary-white;
    #logo {
      @extend %UI_Left_100;
      line-height: 56px;
    }
    p {
      @extend %body_left_100;
      display: inline-block;
      width: 50%;
      line-height: 48px;
      text-align: center;
    }
  }

  #chatTabBody, #publicFeedTabBody{
      margin-top: 16px;
  }

  .chatCard {
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-bottom: 1px;
  }

  .connectionDP {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background-color: #222222;
    margin-top: 16px;
  }

  .connectionDP, .chatCardText {
    display: inline-block;
    vertical-align:top;
  }
  .chatCardText {
    margin-left: 8px;
    margin-top: 22px;
  }
  .connectionName {
    @extend %body_left_100;
  }
  .lastMessage {
    @extend %small_left;
    opacity: 0.54;
  }
}
