#chatDetail #chatDetailBody .headlinePreview, #chatDetail #chatDetailBody .chatBox, #chatDetail #chatInputField input, .publicFeedCard .linkDetails .linkHeadline, .publicFeedCard .chatPairText, #landingPage .unread_count, #landingPage .connectionName, #landingPage header p, input, #introNav p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  text-align: left;
}

#chatDetail #chatDetailBody .chatMetaDeta p, #chatDetail #chatDetailBody .linkText, #chatDetail #chatDetailBody .emptyPageText, .publicFeedCard .linkDetails .linkURL a, #landingPage .lastMessageDate, #landingPage .lastMessage, #profileColor {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  opacity: 1;
  text-align: left;
}

.signupSignin {
  color: #4463F7;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}

#landingPage header #logo {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Bold.otf");
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100% "CircularStd";
  font-weight: 300;
  color: #656A7E;
  background-color: #F7F6F9;
}

#main_container {
  max-width: 500px;
  margin: auto;
}

.padded {
  padding: 0 16px;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

#introPage {
  background: linear-gradient(to bottom, #4463F7 100%, #3655EE 100%);
  color: #fff;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;
}
#introPage #logo {
  font-weight: 700;
  font-size: 28px;
  padding: 24px 0 16px;
}

#introNav {
  margin-bottom: 16px;
}
#introNav p {
  display: inline-block;
  margin-right: 40px;
  line-height: 60px;
}

input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  color: #fff;
  outline: none;
}

#profilePictureArea #uploadImageButton, #profilePictureArea #uploadPreview {
  float: left;
}
#profilePictureArea #uploadPreview {
  margin: 16px 0;
  width: 100px;
  height: 100px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.54);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#profilePictureArea #uploadImageButton {
  width: calc(100% - 116px);
  margin-top: 16px;
  visibility: hidden;
}
#profilePictureArea p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #fff;
  opacity: 0.54;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #fff;
  opacity: 0.54;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #fff;
  opacity: 0.54;
}

.signupSignin {
  width: 100%;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 32px;
  border: none;
}

#profileColor {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 100%;
  white-space: nowrap;
  line-height: 24px;
  margin: 16px 0;
}
#profileColor p {
  margin-left: 32px;
}

header {
  background-color: #4463F7;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
}

#landingPage {
  background-color: #F7F6F9;
  height: 100vh;
}
#landingPage header #logo {
  line-height: 56px;
  float: left;
}
#landingPage header #userDP {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  margin-top: 12px;
}
#landingPage header p {
  float: left;
  width: 50%;
  line-height: 48px;
  text-align: center;
}
#landingPage header .main_nav_scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #4463F7;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
}
#landingPage #chatTabBody, #landingPage #publicFeedTabBody {
  margin-top: 16px;
  margin-bottom: 16px;
}
#landingPage .chatCard {
  width: 100%;
  height: 80px;
  background-color: #fff;
  margin-bottom: 1px;
}
#landingPage .connectionDP {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  margin-top: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#landingPage .chatCardText,
#landingPage .connectionDP {
  float: left;
  vertical-align: top;
}
#landingPage .chatCardText {
  margin-left: 8px;
  margin-top: 22px;
  width: calc(100% - 134px);
}
#landingPage .connectionName {
  font-weight: 700;
}
#landingPage .lastMessage {
  opacity: 0.54;
  margin-top: 4px;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#landingPage .lastChatMetaInfo {
  float: right;
  margin-top: 22px;
  width: 30px;
}
#landingPage .unread_count {
  float: right;
  background-color: #4463F7;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  margin-top: 4px;
  border-radius: 100%;
}
#landingPage .lastMessageDate {
  float: right;
  font-weight: 500;
  color: #4463F7;
}
#landingPage .lastMessageDateNoUnread {
  opacity: 0.54;
  font-weight: 300;
  color: #656A7E;
}
#landingPage .lastMessageTimeWithUnread {
  opacity: 1;
  font-weight: 500;
  color: #4463F7;
}

.publicFeedCard {
  width: 100%;
  background-color: #fff;
  margin-bottom: 8px;
  margin-top: 0px;
  padding: 16px;
  overflow: hidden;
}
.publicFeedCard .senderProfilePicBase64, .publicFeedCard .linkSection {
  float: left;
  vertical-align: top;
}
.publicFeedCard .linkSection {
  margin-left: 8px;
  width: calc(100% - 49px);
}
.publicFeedCard .senderProfilePicBase64 {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.publicFeedCard .chatPairText {
  margin-bottom: 8px;
}
.publicFeedCard .userNames {
  font-weight: 700;
}
.publicFeedCard .linkDetails .linkPicture {
  width: 100%;
  height: 180px;
  margin-bottom: 8px;
  background-size: cover;
}
.publicFeedCard .linkDetails .linkHeadline {
  font-weight: 700;
  word-wrap: break-word;
}
.publicFeedCard .linkDetails .linkURL a {
  color: #4463F7;
  word-wrap: break-word;
  text-decoration: none;
}

#chatDetail header {
  height: 56px;
  background-image: url("../images/arrow_back.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 20px 20px;
  margin-bottom: 16px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
#chatDetail .connectionDP,
#chatDetail .connectionName {
  display: inline-block;
  vertical-align: top;
  margin-left: 68px;
}
#chatDetail .connectionDP {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-top: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#chatDetail .connectionName {
  line-height: 56px;
  margin-left: 8px;
}
#chatDetail #chatInputField {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
#chatDetail #chatInputField ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  color: #656A7E;
  opacity: 0.54;
}
#chatDetail #chatInputField ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  color: #656A7E;
  opacity: 0.54;
  line-height: 62px;
}
#chatDetail #chatInputField input {
  min-height: 62px;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 60px;
  color: #656A7E;
  border-top: 0.5px solid rgba(39, 40, 56, 0.12);
  line-height: 62px;
  margin-bottom: 0;
}
#chatDetail #chatInputField button {
  position: fixed;
  right: 16px;
  bottom: 18px;
  width: 24px;
  height: 24px;
  background-image: url("../images/send_button.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
#chatDetail #chatDetailBody {
  overflow: scroll;
  margin: 80px 0;
  z-index: 50;
}
#chatDetail #chatDetailBody .chatBox {
  max-width: 286px;
  padding: 8px;
  border: 0.5px solid #e8e8e8;
  box-shadow: 0 0.5px 0 0 #e8e8e8;
  margin-bottom: 8px;
  border-radius: 4px;
  word-wrap: break-word;
}
#chatDetail #chatDetailBody .chatPartnerText {
  background-color: #fff;
  float: left;
  margin-left: 26px;
}
#chatDetail #chatDetailBody .thisUserText {
  background-color: #F1F4FE;
  float: right;
  margin-right: 26px;
}
#chatDetail #chatDetailBody .emptyPageText {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}
#chatDetail #chatDetailBody .linkPreviewBox {
  width: 270px;
  background-color: #F7F6F9;
  border-radius: 2px;
  margin-bottom: 8px;
}
#chatDetail #chatDetailBody .imagePreview {
  margin-bottom: 8px;
  float: left;
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 120px;
  background-color: #D8D8D8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("test.png");
  overflow: hidden;
  position: relative;
}
#chatDetail #chatDetailBody .headlinePreview {
  padding: 8px;
  font-weight: 700;
}
#chatDetail #chatDetailBody .linkText {
  color: #4463F7;
  font-weight: 500;
  text-decoration: none;
}
#chatDetail #chatDetailBody .chatMetaDeta {
  margin-top: 8px;
}
#chatDetail #chatDetailBody .chatMetaDeta .messageStatus {
  height: 15px;
  width: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-left: 8px;
}
#chatDetail #chatDetailBody .chatMetaDeta p {
  opacity: 0.54;
  font-weight: 300;
  float: right;
}
