#landingPage .connectionName, #landingPage header p, input, #introNav p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  text-align: left;
}

#landingPage .lastMessage, #profileColor {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  opacity: 1;
  text-align: left;
}

.signupSignin {
  color: #4463F7;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}

#landingPage header #logo {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "CircularStd";
  src: url("font/CircularStd-Bold.otf");
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100% "CircularStd";
  font-weight: 300;
  color: #656A7E;
}

.padded {
  padding: 0 16px;
}

#introPage {
  background: linear-gradient(to bottom, #4463F7 100%, #3655EE 100%);
  color: #fff;
  width: 100vw;
  height: 100vh;
}
#introPage #logo {
  font-weight: 700;
  font-size: 28px;
  padding: 24px 0 16px;
}

#introNav p {
  display: inline-block;
  margin-right: 40px;
  line-height: 60px;
}

input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  color: #fff;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  color: #fff;
  opacity: 0.54;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  color: #fff;
  opacity: 0.54;
}

.signupSignin {
  width: 100%;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 32px;
  border: none;
}

#profileColor {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 100%;
  white-space: nowrap;
  line-height: 24px;
  margin: 16px 0;
}
#profileColor p {
  margin-left: 32px;
}

#landingPage {
  background-color: #F7F6F9;
  height: 100vh;
}
#landingPage header {
  background-color: #4463F7;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  color: #fff;
}
#landingPage header #logo {
  line-height: 56px;
}
#landingPage header p {
  display: inline-block;
  width: 50%;
  line-height: 48px;
  text-align: center;
}
#landingPage #chatTabBody, #landingPage #publicFeedTabBody {
  margin-top: 16px;
}
#landingPage .chatCard {
  width: 100%;
  height: 80px;
  background-color: #fff;
  margin-bottom: 1px;
}
#landingPage .connectionDP {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
#landingPage .connectionDP, #landingPage .chatCardText {
  display: inline-block;
  vertical-align: top;
}
#landingPage .chatCardText {
  margin-left: 8px;
  margin-top: 22px;
}
#landingPage .connectionName {
  font-weight: 700;
}
#landingPage .lastMessage {
  opacity: 0.54;
}
