//VARIABLES
$primary-blue: #4463F7;
$app-bg-color: #F7F6F9;
$primary-black: #656A7E;
$primary-white: #fff; //EXTENDED

%body_left_100 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    opacity: 1.0;
    text-align: left;
}

%small_left {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    opacity: 1.0;
    text-align: left;
}

%button_left_100 {
    color: $primary-blue;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
}

%UI_Left_100 {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
//CUSTOM FONT
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Book.otf');
    font-weight: 300;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: "CircularStd";
    src: url('font/CircularStd-Bold.otf');
    font-weight: 700;
}
//BORDER BOX

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//OVERALL SETTING

body {
    font: 100% "CircularStd";
    font-weight: 300;
    color: $primary-black;
    background-color: #F7F6F9;
}

#main_container {
  max-width: 500px;
  margin: auto;
}

.padded {
    padding: 0 16px;
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

.messageStatus {
  height: 15px;
  width: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-left: 8px;
}

#introPage {
    background: linear-gradient(to bottom, #4463F7 100%, #3655EE 100%);
    color: $primary-white;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 80px;

    #logo {
        font-weight: 700;
        font-size: 28px;
        padding: 24px 0 16px;
    }
}

#introNav {
    margin-bottom: 16px;
    p {
        display: inline-block;
        @extend %body_left_100;
        margin-right: 40px;
        line-height: 60px;
    }
}

input {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .54);
    color: $primary-white;
    @extend %body_left_100;
    outline: none;
}

#profilePictureArea {
  #uploadImageButton, #uploadPreview {
    float: left;
  }

  #uploadPreview {
    margin: 16px 0;
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid rgba(255, 255, 255, .54);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #uploadImageButton {
    width: calc(100% - 116px);
    margin-top: 16px;
    visibility:hidden;
  }

  p{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: $primary-white;
    opacity: 0.54;
  }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: $primary-white;
    opacity: 0.54;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: $primary-white;
    opacity: 0.54;
}

.signupSignin {
    @extend %button_left_100;
    width: 100%;
    line-height: 48px;
    text-align: center;
    background-color: $primary-white;
    border-radius: 2px;
    margin-top: 32px;
    border: none;
}

#profileColor {
    @extend %small_left;
    width: 24px;
    height: 24px;
    border: 1px solid $primary-white;
    border-radius: 100%;
    white-space: nowrap;
    line-height: 24px;
    margin: 16px 0;

    p {
        margin-left: 32px;
    }
}

header {
    background-color: $primary-blue;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
    color: $primary-white;
}

#landingPage {
    background-color: #F7F6F9;
    height: 100vh;

    header {
        #logo {
            @extend %UI_Left_100;
            line-height: 56px;
            float: left;
        }

        #userDP {
          width: 24px;
          height: 24px;
          border-radius: 100%;
          border: 1px solid $primary-white;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          float: right;
          margin-top: 12px;
        }

        p {
            @extend %body_left_100;
            float: left;
            width: 50%;
            line-height: 48px;
            text-align: center;
        }

        .main_nav_scrolled {
          position: fixed;
          width: 100%;
          top: 0;
          background-color: $primary-blue;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
          color: $primary-white;
        }
    }

    #chatTabBody, #publicFeedTabBody {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .chatCard {
        width: 100%;
        height: 80px;
        background-color: #fff;
        margin-bottom: 1px;
    }

    .connectionDP {
        border-radius: 100%;
        width: 48px;
        height: 48px;
        // background-color: #222222;
        margin-top: 16px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chatCardText,
    .connectionDP {
        float: left;
        vertical-align: top;
    }

    .chatCardText {
        margin-left: 8px;
        margin-top: 22px;
        width: calc(100% - 134px);
    }

    .connectionName {
        @extend %body_left_100;
        font-weight: 700;
    }

    .lastMessage {
        @extend %small_left;
        opacity: 0.54;
        margin-top: 4px;
        height: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .lastChatMetaInfo {
      float: right;
      margin-top: 22px;
      // width: 30px;
    }

    .unread_count {
      float: right;
      background-color: $primary-blue;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      color: $primary-white;
      @extend %body_left_100;
      margin-top: 4px;
      border-radius: 100%;
    }

    .lastMessageDate {
      float: right;
      @extend %small_left;
      // opacity: 0.54;
      font-weight: 500;
      color: $primary-blue;
      margin-bottom: 4px;
    }

    .lastMessageDateNoUnread {
      opacity: 0.54;
      font-weight: 300;
      color: $primary-black;
    }
    .lastMessageTimeWithUnread {
      opacity: 1;
      font-weight: 500;
      color: $primary-blue;
    }

}

.publicFeedCard {
  width: 100%;
  background-color: $primary-white;
  margin-bottom: 8px;
  margin-top: 0px;
  padding: 16px;
  overflow: hidden;

  // .chatPairDetails {
  //   margin-bottom: 8px;
  //   margin-top: 0px;
  // }

  .senderProfilePicBase64, .linkSection {
    float: left;
    vertical-align: top;
  }

  .linkSection {
    margin-left: 8px;
    width: calc(100% - 49px);
  }

  .senderProfilePicBase64 {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // margin-right: 8px;
    // background-image: url('test.png');
  }

  .chatPairText {
    @extend %body_left_100;
    margin-bottom: 8px;
  }

  .userNames {
    font-weight: 700;
  }

  .linkDetails {
    // margin-left: 40px;

    .linkPicture {
      // background-image: url('test.png');
      width: 100%;
      height: 180px;
      margin-bottom: 8px;
      background-size: cover;
    }

    .linkHeadline {
      @extend %body_left_100;
      font-weight: 700;
      word-wrap: break-word;
    }
    .linkURL a{
      @extend %small_left;
      color: $primary-blue;
      word-wrap: break-word;
      text-decoration: none;
    }
  }
}

#chatDetail {
    header {
        height: 56px;
        background-image: url("../images/arrow_back.png");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 20px 20px;
        margin-bottom: 16px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 100;
    }

    .connectionDP,
    .connectionName {
        display: inline-block;
        vertical-align: top;
        margin-left: 68px;
    }

    .connectionDP {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        // background-color: #202020;
        margin-top: 12px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .connectionName {
        line-height: 56px;
        margin-left: 8px;
    }

    #chatInputField {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 12px;
            color: $primary-black;
            opacity: 0.54;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 12px;
            color: $primary-black;
            opacity: 0.54;
            line-height: 62px;
        }

        input {
            min-height: 62px;
            background-color: #fff;
            @extend %body_left_100;
            padding-left: 16px;
            padding-right: 60px;
            color: $primary-black;
            border-top: 0.5px solid rgba(39, 40, 56, 0.12);
            line-height: 62px;
            margin-bottom: 0;
        }

        button {
            position: fixed;
            right: 16px;
            bottom: 18px;
            width: 24px;
            height: 24px;
            background-image: url("../images/send_button.png");
            background-repeat: no-repeat;
            background-size: 24px 24px;
            border: none;
            box-shadow: none;
            background-color: transparent;
        }
    }

    #chatDetailBody {
        overflow: scroll;
        margin: 80px 0;
        z-index: 50;

        .chatBox {
            max-width: 286px;
            // min-width: 80px;
            padding: 8px;
            border: 0.5px solid rgba(232, 232, 232, 1.0);
            box-shadow: 0 0.5px 0 0 rgba(232, 232, 232, 1.0);
            margin-bottom: 8px;
            @extend %body_left_100;
            border-radius: 4px;
            word-wrap: break-word;
        }

        .chatPartnerText {
            background-color: $primary-white;
            float: left;
            margin-left: 26px;
        }

        .thisUserText {
            background-color: #F1F4FE;
            float: right;
            margin-right: 26px;
        }

        .emptyPageText {
            @extend %small_left;
            margin-top: 16px;
            margin-bottom: 16px;
            text-align: center;
        }

        .linkPreviewBox{
          width: 270px;
          background-color: #F7F6F9;
          border-radius: 2px;
          margin-bottom: 8px;
        }

        .imagePreview {
          margin-bottom: 8px;
          float: left;
          border-radius: 2px 2px 0 0;
          width: 100%;
          height: 120px;
          background-color: #D8D8D8;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("test.png");
          overflow: hidden;
          position: relative;
        }

        // .imagePreview img {
        //   position: absolute;
        //   height: 88px;
        //   width: auto;
        //   top: -9999px;
        //   right: -9999px;
        //   left: -9999px;
        //   bottom: -9999px;
        //   margin: auto;
        // }

        .headlinePreview {
          padding: 8px;
          // max-height: 88px;
//           overflow: hidden;
//           // white-space: nowrap;
//
//           text-overflow: ellipsis;
          @extend %body_left_100;
          font-weight: 700;
        }

        .imagePreview, .headlinePreview {
          // float: left;
        }

        .linkText {
          color: $primary-blue;
          @extend %small_left;
          font-weight: 500;
          text-decoration: none;
        }

        .chatMetaDeta {
          margin-top: 8px;

          p {
            @extend %small_left;
            opacity: 0.54;
            font-weight: 300;
            float:right;
          }
        }
    }
}
